<div class="space-card">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{ student | fullName }}</mat-card-title>
      <mat-card-subtitle>{{ student.occupation }}</mat-card-subtitle>
      <img mat-card-sm-image [src]="student.image" >
    </mat-card-title-group>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <p>Email: <em>{{student.email}}</em></p>
        </div>
        <div class="col">
          <p>Phone: <em>{{student.phone}}</em></p>
        </div>
        <div class="col">
          <p>Birthday: <em>{{student.birthday | date:'fullDate'}}</em></p>
        </div>
      </div>
      <address>
        <p>
          {{student.address | address}}
        </p>
      </address>
    </mat-card-content>

    <mat-card-actions align="end" class="mr-4 mb-2">
      <button mat-mini-fab color="primary" class="space-button" (click)="openDialog(student);">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="space-button" (click)="onStudentDelete(student.id);">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</div>

